*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
#the-band{
    font-family: Arial, Helvetica, sans-serif;
}
/* COMMON */
:root{

}
html{
    scroll-behavior: smooth;
}
ul {
    list-style-type: none;
}
.clear{
    clear:both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt-16{
    margin-top: 16px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}
.col-full{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.3333%;
}
/* Nav-bar */
#header{
    height:46.5px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 1;
}
.nav{
    display: inline-block;
}
.nav ,.subnav{
    list-style-type: none;
}
.nav li{
    position: relative;
    display: inline-block;
}
.nav li a{
    padding: 0 24px; 
    font-size: 14px;
    font-weight: 500;
    line-height: 46.5px;
    display: block;
    color:black;
    text-decoration: none;
}
.nav > li > a{
    color: white;
    text-transform: uppercase;
}
.nav .subnav{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.nav .subnav li{
    display: block;
    line-height: 40px;
    width: 160px;
}
.nav .subnav li a{
    display: block;
    padding:0 16px;
}
.nav li:hover .subnav{
    display:block;
}
.nav .subnav a:hover,
.nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}
.nav .arrow-down{
    font-size: 14px;
}
#header .mobile-menu-btn{
    float: right;
    cursor: pointer;
    display: none;
}
#header .search-button{
    float: right;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
    padding: 0 24px;
    line-height: 46.5px;
    color: white;
    font-size: 18px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .search-button:hover{
    background-color: red;
}
/* Slider */
#slider{
    position: relative;
    margin-top: 46.5px;
    background: url(../img/silder/slider1.jpg) top center /cover no-repeat;
    padding-top: 50%;
}
#slider .text-content{
    position: absolute;
    bottom: +32px;
    left: 50%;
    transform: translateX(-50%);

}
#slider .text-heading{
    color:white;
    padding: 32px 16px;
    text-align: center;
    font-weight: 500;
}
#slider .text-description{
    color: white;
    text-align: center;
    padding: 0 15px;
    font-weight: 600;
    text-shadow:0 0 1px black;
}
#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    height: 671px;
    margin-left:auto;
    margin-right:auto;
    padding:64px 16px;
}
#content .heading-content{
    text-align: center;
    margin:10px auto;
    font-weight: 400;
    line-height: 45px;
    font-size: 30px;
    letter-spacing: 3px;
}
#content .subheading-content{
    margin:15px auto;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
}
#content .content-text{
    padding: 15px 0;
    text-align: justify;
    line-height: 1.4;
}
#content .introduce{
    height: 286px;
    padding:32px 0;
    display: flex;
    justify-content: space-between;
}
#content .introduce .artist{
    flex:1;
    text-align: center;

}
#content .introduce .name-artist{
    text-align: center;
    margin:15px auto;
    line-height: 1.5;
}
#content .introduce .img{
    height: 153px;
    border-radius: 5px;
}

/* Tour-date */
.tour-section{
    background-color: black;
    color: white;
    height: 845px;
}
#content .tour-section li{
    padding:8px 16px;
    color: #757575;
    background-color: #fff;
    line-height:1.5;
    border-bottom: 1px solid #ddd;
}
#content .tour-section .soldout-notif{
    display: inline-block;
    margin-left: 16px;
    padding:0 8px;
    background-color: #f44336;
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
}
#content .tour-section .left-ticket{
    float:right;
    padding:0 8px;
    color:#fff;
    border-radius: 50%;
    margin-right: 16px;
    background-color: #000;
    line-height: 1.5;
}
#content .tour-section .tour-places{
    padding: 16px 0 32px 0;
}
/* #content .tour-section .place{
    width: 33.3333%;
} */
#content .tour-section .img-tour{
    width: 100%;
    display: block;
}
#content .tour-section .img-tour:hover{
    opacity: 0.6;
}
#content .tour-section .place-text{
    background-color: #fff;
    color:#000;
    padding:16px;
    line-height: 1.5;
}
#content .tour-section .tour-name{
    font-weight: 600;
}
#content .tour-section .tour-date{
    margin-top:15px;
    opacity: 0.6;
}
#content .tour-section .tour-content{
    margin-top:15px;
}
#content .tour-section .place-button{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding:8px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.5;
}
#content .tour-section .place-button:hover{
    background-color: #ccc;
    color: #000;
}
#content .tour-places{
    
}
/* Contact-section */
#content .contact-section{
    padding:64px 16px;
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
}
#content .contact-form{
    margin-top: 48px;
}
#content .contact-info{
    line-height: 1.5;
    font-size: 18px;
}
.contact-info i{
    min-width: 30px;
    display: inline-block;
}
#content .form-control{
    border: 1px solid #ccc;
    padding:8px;
    width: 100%;    
    font-size: 15px;
    line-height: 1.5;
}
#content .form-control.message{
    margin-top: 8px;
}
.contact-sent{
    margin :16px 0;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    font-size: 15px;
    float: right;
    -webkit-appearance: none;
}
.contact-sent:hover{
    background-color: #ccc;
    color: #000;
}
/* Footer */
#footer{

}
.footer-container{
    padding: 64px 16px;
    text-align: center;
}
#footer .footer-icon{
    display: inline-block;
    color: grey ;
    line-height: 1.5 !important;
    font-size: 20px;
}
#footer .footer-icon:hover{
    opacity: 0.4;
}
.sponsor{
    display: block;
    margin:15px 0;
    opacity: 0.6;
    font-size: 15px;
}
.sponsor a{
    color: #000;
}
/* Modal */
.modal{
    position: fixed;
    top:0;left:0;right:0;bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}
.modal-container{
    width: 900px;
    height: 471px;
    background-color: #fff;
    position: relative;
    animation: FadeIn-Modal ease-in 0.4s;
}
.modal-header{
    height: 130px;
    background-color: #009688;
}
.modal-close{
    position: absolute;
    right: 0;
    padding: 8px 16px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.modal-close:hover{
    color:#000;
    background-color: #757575;
}
.modal-header p{
    text-align: center;
    line-height: 130px;
    color: white;
    letter-spacing: 4px;
    font-size: 30px;
}
.modal-body{
    padding:0 16px;
}
.modal-label{
    display: block;
    margin:15px 0;
    font-size: 15px;
    line-height: 1.5;
}
.modal-input{
    padding:8px;
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
    border: 1px solid #ccc;
}
.buy-tickets{
    margin:15px 0;
    display: block;
    cursor: pointer;
    background-color: #009688;
    color: #fff ;
    height: 57px;
    width: 100%;
    padding:16px;
    border: none;
}
.buy-tickets i{
    font-weight: 700;
}
.modal-help{
    padding:0 16px;
    display: inline-block;
    margin:15px 0;
    float: right;
}
.modal-help a{
    color: #2196F3;
}
.modal.open{
    display: flex;
}
@keyframes FadeIn-Modal {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}